/*

Author: Jennifer Carmin Campos, jcc-digital

********** FONT FAMILY **********
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/

/********************************** SELECTORS **********************************/
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 4.1rem;;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.0rem;
  font-weight: 400;
  line-height: 3.3rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.6rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

/********************************** CLASS & ID SELECTORS PER PAGE STRUCTUREs **********************************/

/* Title Section */
.container-fluid-nav {
  padding: 1% 15% 1%;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: #ffffff;
}

/* Naviagtion Bar */
.navbar {
  background-color: #ff4c68;
  opacity: 95%;
  padding: 2% 15%;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Title Section, Heading Left Aligned */
.title-col-lg-6 {
  padding: 0;
}

/* Downlod Buttons */
.download-btn {
  margin: 5% 3% 10% 0;
}

/* Title Img */
.zindex-b5 {
  position: relative; /* Note: In bootstrap 5, the col classes don't have position: relative;. So you have to add it manually to the col div by adding a custom class, otherwise when you assign 60%, it will size it relative to the whole body of the website.*/
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right:24%;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }

}

/* Features Section */
#features {
  text-align: center;
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

/* Features - Icons */
.ft-icons {
  color: #ff4c68;
  font-size: 4rem;
  padding: 5% 0 7% 0;
}

.ft-icons:hover {
  color: #ce2f48;
}

.feature-box {
  padding: 5%;
}

.feature-box p {
  color: #8f8f8f;
  font-family: 'Montserrat', sans-serif;
}

/* Testimonials Section */
#testimonials {
  background-color: #ff4c68c7;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-align: center;
}

.testimonial-img {
  border-radius: 100%;
  margin: 0 auto;
  padding: 5% 0;
  width: 28%;
}

.carousel-item {
  padding: 10% 15%;
}

/* Press Section */
#press {
  background-color: #ff4c68c7;
  text-align: center;
  padding: 0 15% 7% 15%;
}

.press-img {
  width: 20%;
  -webkit-filter: grayscale(30%);
  filter: grayscale(100%);
  margin: 20px auto 50px;
}

/* Pricing, Card Section */
#pricing {
  font-family: 'Montserrat', sans-serif;
  padding: 100px;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
}


/* CTA Section */
#cta {
  background-color: #ff4c68;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 3.8rem;
}

/* Footer Section */
#footer {
  padding: 7% 15% 1%;
  text-align: center;
}

.footer-icons {
  color: #333;
  font-size: 1.6rem;
  margin: 1% 2%;
  padding: 0 0 5%;
}

.footer-icons:hover {
  color: #ff4c68;
}

/* Spaces */
.space-150 {
  height: 150px;
  width: 100%
}
